[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
pylint = "*"

[dev-packages]
nose = "*"
pylint = "*"
astroid = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
